@font-face {
  font-family: 'noto-serif';
  src: url(fonts/noto-serif-v30-latin-700.woff2);
  font-weight: 700;
}

@font-face {
  font-family: 'inter';
  src: url(fonts/inter-v19-latin-700.woff2);
  font-weight: 700;
}
@font-face {
  font-family: 'inter';
  src: url(fonts/inter-v19-latin-600.woff2);
  font-weight: 600;
}
@font-face {
  font-family: 'inter';
  src: url(fonts/inter-v19-latin-regular.woff2);
  font-weight: 400;
}

:root {
  --accent-clr: #e95a08;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'inter';
}

img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: 1140px;
  margin-inline: auto;
  box-sizing: content-box;
  padding-inline: 1rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  @media (width < 600px) {
    padding-inline: 1rem;

    img {
      width: 80px;
    }
  }
}
.nav-right-side {
  display: flex;
  gap: 15px;
  align-items: center;
}
.link-area {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (width < 600px) {
    display: none;
  }
}

.link-area:first-child {
  font-weight: 700;
}

.navbar .link-area a {
  color: #000;
  text-decoration: none;
}

.navbar .link-area a.active-color {
  color: #8987a1;
}

.cart-icon {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 1rem;
}
.cart i {
  font-size: 1.9rem;
}

.hero {
  display: flex;
  align-items: end;

  > div {
    flex: 1;
  }
  .hero-heading {
    margin-top: 30px;
 
  }


  @media (width < 600px) {
    flex-direction: column-reverse;
    margin-top: 0px;
  }
}

.accent-clr {
  color: var(--accent-clr);
}

h1,
h2 {
  font-family: 'noto-serif';
  font-weight: 700;
  font-size: clamp(1.5rem, 0.5385rem + 3.8462vw, 4rem);
  color: #000;
}
.hero,
.Our-Plants p {
  font-size: clamp(0.875rem, 0.6827rem + 0.7692vw, 1.375rem);
  color: #00000050;
    margin-top: 10px;

}

.Our-Plants {
  margin-top: 100px;
  text-align: center;
}

.add-to-cart-area{
  margin-block: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;

  @media (width <= 800px) {
     grid-template-columns: repeat(3, 1fr);
  }
  @media (width <= 600px) {
     grid-template-columns: repeat(2, 1fr);
  }
  @media (width <= 350px) {
     grid-template-columns:1fr;
  }

}

.cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
button {
  width: 100%;
 height: 50px;
 max-width: 270px;
 border: none;
 background-color: #e95a08;
 color: white;
 font-family:'inter';
 font-weight: 600;
 font-size: 1rem;
 cursor: pointer;
}

h3{
    font-family:'inter';
  font-weight: 500;
  font-size: 1.2rem;
}
h4{
  font-family:'inter';
  font-weight: 700;
  font-size: 1.2rem;
}

.flower-plant-lover-area{
  display: flex;
  gap: 40px;
margin-bottom: 100px;
margin-top: 200px;
  > div{
    flex: 1;
  }
@media (width <= 750px) {
  flex-direction: column;

  .trusted-badge{
    display: none;
  }
  .flower-left-background-img{
    margin-inline: auto;
  }
}
}
.flower-left-background-img{
  position: relative;
}

.trusted-badge{
  max-width: 266px;
position: absolute;
right: -85px;
top: -130px;
 animation: badge 2s linear infinite;
}

@keyframes badge {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flower-plant {
  padding: 30px;

}
h5{
  font-size: clamp(1.5rem, 0.875rem + 2.5vw, 3.125rem);
  margin-bottom: 15px;
    font-family: 'noto-serif';
  font-weight: 700;
}

.flower-plant nav li{
  font-size: clamp(0.875rem, 0.6827rem + 0.7692vw, 1.375rem);
  color: #00000050;
}
.li-flower-plant{
  display: flex;
  flex-direction: column;
  gap: 20px;
}